# dependencies
node_modules/

# env files
.env
.env.*

# build files
dist/
build/
.vite/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# database files
*.db
medivora.db
*.sqlite
*.sqlite3

# tesseract data
*.traineddata
